
body{
    color:black;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
}
.fullscreen{
    padding: 0px;
    margin: 0px;
    border: 0px;

    width: 100%;
    height: 100%;
}

/* Main Region in which content is situated, fixed width*/
.content-area{
    display:block;
    margin: auto;
    max-width: 1200px;
    height: 100vh
}

.content-row{
    display: flex;
    flex-direction: row;
}
.content-column{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.content-block{
    flex: 2 1 auto;
    padding: 10px;
    margin: 10px 10px 0px 10px;
}
.content-block-child{
    position: absolute;
}
.content-block-background{
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px black;
}

.main-text{
    font-size: 20px;
}  
.side-img{
    float: right;
    margin: 20px;
}
.page-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.square{
    aspect-ratio: 1;
}
.mid-margin{
    margin: 40px;
}

h1{
    text-align: center;
}
.flex-child-fill{
    width: 100%;
}
.img-decal{
    position: absolute;
    object-fit: none;
    z-index: -1;
}
.img-btn{
    object-fit: scale-down;
    max-width: 100%;
}
.corner{
    position: absolute;

    top: 1px;
    left: 1px;
}
.centered{
    display: flex;
    justify-content: center;
}
.bg{
    z-index: -1;
}
.title{
    margin: 45px 0 0 0;
}

textarea{
    box-sizing: border-box;
}